<div class="jumbotron mt-5">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, voluptates!</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias exercitationem, quis veniam perferendis consequatur quas maiores et sint adipisci harum porro quidem provident dicta at laboriosam molestiae iusto quaerat expedita.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">aqui</a>
</div>
